name: Terraform Validate

on: 
  pull_request:
    branches:
      - main
      - master
  push: 
    branches-ignore:
      - 'main'
      - 'master'

# Set defaults
defaults:
  run:
    shell: bash

jobs:
  validate:
    name: Check Terraform syntax
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # Setup terraform with the correct version
      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 0.13.7
    
      # Run Terraform Validate
      - name: Validate
        run: terraform fmt -check; terraform init -backend=false; terraform validate
